@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1678004933190') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-Home:before {
  content: "\e632";
}

.icon-cart:before {
  content: "\e6e6";
}

.icon-home:before {
  content: "\e6f2";
}

